@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400italic,400,600|Muli:300);

/*---* Estilos Relog Simulador *---*/

#countdown_dashboard {
	height: 55px;
	/*float:right;*/
	margin-right: 18px;
}

.dash {
	width: 55px;
	height: 35px;
	/*background: transparent url('../img/dash.png') 0 0 no-repeat;*/
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 20px;
	float: left;
	width: 25px;
	text-align: center;
	color: #000;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] {
    display:inline-block;
    width:19px;
    height:19px;
    background:url(../img/check.png) top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked {
    background:url(../img/check-true.png) top no-repeat;
}

/*---* *-* *---*/